<div class="home-page">

  <div class="row">
    <div class="col-xs-12">
      <div class="banner">
        <div class="banner-content">
          <h1 class="text-center">v<%= image_tag "world.png", :class=> "home-world" %>yagr</h1>
          <h2>Choose the right destination</h2>
        </div>
      </div>



    </div>
  </div>

  <div class="test here">
    <div id="icon-container">
        <!-- <div id="circle">&#x25CC;</div> -->
      <div class= "text-center icon-footer">
        <i class="fa fa-angle-double-down bigger-icon"></i>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div data-aos="fade-left" class= "text-right"">
      <p> Open ChatBot <%= link_to image_tag("Messenger_Icon.png", class: "messenger-button"), "https://m.me/Celia-voyagr-198055850797006", target: "_blank"%></p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>

    <div data-aos="fade-right" class= "text-left">
      <p>Answer Questions</p>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div data-aos="fade-left" class= "text-right" >
      <p>Get Suggestions</p>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div data-aos="fade-right" class= "text-left">
      <p>Bon Voyagr!</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div data-aos="zoom-in" class="team">

    <div class="home-row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Angele.jpeg", :class => "avatar", id: "angele" %>
            <h2 class="text-center">Angele<br>Lenglemetz</h2>
            <p class="text-center">Accusantium, corporis! Quasi architecto, aliquid adipisci, praesentium vel dolore consequatur dolorum.</p>
            <br>
            <p class="text-center">angele@voyagr.co.uk</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Ben.jpg", :class => "avatar", id: "ben" %>
            <h2 class="text-center">Ben<br>Fanning</h2>
            <p class="text-center">Accusantium, corporis! Quasi architecto, aliquid adipisci, praesentium vel dolore consequatur dolorum.</p>
            <br>
            <p class="text-center">ben@voyagr.co.uk</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Celia.jpeg", :class => "avatar", id: "celia" %>
            <h2 class="text-center">Celia<br>Collins</h2>
            <p class="text-center">Accusantium, corporis! Quasi architecto, aliquid adipisci, praesentium vel dolore consequatur dolorum.</p>
            <br>
            <p class="text-center">celia@voyagr.co.uk</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Hen.jpeg", :class => "avatar", id: "hen" %>
            <h2 class="text-center">Hen<br>Brand</h2>
            <p class="text-center">Accusantium, corporis! Quasi architecto, aliquid adipisci, praesentium vel dolore consequatur dolorum.</p>
            <br>
            <p class="text-center">hen@voyagr.co.uk</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="text-center facebook-page-link">
    <i class="fa fa-facebook-f text-center facebook-page-link"></i>
  </div>

  <br>
  <br>
  <br>

  <%= javascript_pack_tag 'home' %>

  <script> // add as a javascript_pack_tag
    window.fbAsyncInit = function() {
      FB.init({
        appId            : 'your-app-id',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.12'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
