<div class="home-page">

  <div class="row">
    <div class="col-xs-12">
      <div class="banner">
        <div class="banner-content">
          <h1 class="text-center">v<%= image_tag "world.png", :class=> "home-world" %>yagr</h1>
          <br>
          <br>
          <br>
          <br>
          <h2>Choose the right destination</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="test here">
    <div id="icon-container">
<!--         <div id="circle">&#x25CC;</div>
 -->      <div class= "text-center icon-footer">
        <i class="fa fa-angle-double-down bigger-icon"></i>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div data-aos="fade-left" class= "text-right"">
      <p>Open ChatBot</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div data-aos="fade-right" class= "text-left">
      <p>Answer Questions</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div data-aos="fade-left" class= "text-right" >
      <p>Get Suggestions</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div data-aos="fade-right" class= "text-left">
      <p>Bon Voyagr!</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div data-aos="zoom-in" class="text-center messenger-button">
    <%=link_to image_tag("Messenger_Icon.png", class: "messenger-button"), "https://m.me/VoyagrChatbot", target: "_blank"%>
    <a href="https://m.me/VoyagrChatbot"><p>Get Started</p></a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div data-aos="zoom-in" class="team">

    <div class="home-row">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Angele.jpeg", :class => "avatar", id: "angele" %>
            <h2 class="text-center">Angele<br>Lenglemetz</h2>
            <p class="text-center">When I’m not fixing a bot or feeding it some content, you will most likely find me running, snowboarding, surfing or travelling.</p>
            <br>
            <a href="https://github.com/Angelel" target="_blank" class="text-center fa fa-github"></a>
            <br>
            <p class="text-center"><a href="mailto:angele@voyagr.co.uk">Contact Angele</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Ben-voyagr.jpeg", :class => "avatar", id: "ben" %>
            <h2 class="text-center">Ben<br>Fanning</h2>
            <p class="text-center">I’m a keen skier and a general lover of the mountain lifestyle. I also enjoy sailing, skating and failing to surf. Front end master. </p>
            <br>
            <a href="https://github.com/fanninggg" target="_blank" class="text-center fa fa-github"></a>
            <br>
            <p class="text-center"><a href="mailto:ben@voyagr.co.uk">Contact Ben</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Celia.jpeg", :class => "avatar", id: "celia" %>
            <h2 class="text-center">Celia<br>Collins</h2>
            <p class="text-center">I love dogs and chatbots. You will never find me doing any winter sports. Instead I prefer the indoor kind, like badminton and table tennis.</p>
            <br>
            <a href="https://github.com/cdccollins" target="_blank" class="text-center fa fa-github"></a>
            <br>
            <p class="text-center"><a href="mailto:celia@voyagr.co.uk">Contact Celia</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-3">
        <div data-aos="zoom-in" class="team">
          <div class="team-member">
            <%= image_tag "Hen.jpeg", :class => "avatar", id: "hen" %>
            <h2 class="text-center">Hen<br>Brand</h2>
            <p class="text-center">I love corn and fixing and desiging websites. When I'm not doing either of these, you can find me travelling, running or maybe even cross stitching.</p>
            <br>
            <a href="https://github.com/henbrand" target="_blank" class="text-center fa fa-github"></a>
            <br>
            <p class="text-center"><a href="mailto:hen@voyagr.co.uk">Contact Hen</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="text-center facebook-page-link">
    <%= link_to "", "https://www.facebook.com/VoyagrChatbot/", target: "_blank", class: "fa fa-facebook-f text-center facebook-page-link" %>
  </div>

  <br>
  <br>
  <br>

  <%= javascript_pack_tag 'home' %>

  <script> // add as a javascript_pack_tag
    window.fbAsyncInit = function() {
      FB.init({
        appId            : 'your-app-id',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.12'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
