<div class="index-page">
  <div class="link-logo">
  <%= link_to root_path do %>
    <h3>v<%= image_tag "world", :class=> "logo-world" %>yagr</h3>
  <% end %>
  </div>
  <br>
  <br>
  <div class="game">
    <h1 class="text-center">Game</h1>
    <%= cl_image_tag @city.first.photo, :width=>300 %>

    <h2 class="text-center">Where is this?</h2>
    <ul class="list-unstyled text-center">
      <a href="#"><li id="sweet-alert-demo"><%= @city.first.name %></li></a>
      <a href="#"><li id="sweet-alert-demo2"> <%= @cities.sample(1).first.name %></li></a>
      <a href="#"><li id="sweet-alert-demo3"> <%= @cities.sample(1).first.name %> </li></a>
    </ul>

    <%= link_to 'Play again', cities_path %>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br
  <br>
 <%= javascript_pack_tag 'index' %>
