<div class="index-page">
  <div class="index-picture" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo %>')";>
    <div class="link-logo">
      <%= link_to root_path do %>
        <h5 id="logo-text">v<%= image_tag "world", :class=> "logo-world" %>yagr</h5>
      <% end %>
    </div>

    <div class="index-page-content">

      <div class="index-title">
        <h1 class="text-center">Where is this?</h1>
        <div class="score-box text-center">
          <h2 class="text-center">Score:</h2>
          <h2 class="text-center" id="count"><%= @count %></h2>
        </div>
      </div>

      <div class="game-content">

        <div class="answers">
          <% @cities.each do |city| %>
            <a href="#" class="city-option <%= city == @city ? 'valid' : nil %>">
              <%= city.name %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'index' %>
