<div class="show-page">
  <div class="row">
    <div class="show-banner">
      <div class="col-xs-12 show-background" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('<%= cl_image_path @city.photo %>')";>
        <div class="link-logo show-link-logo">
          <%= link_to root_path do %>
            <h3>v<%= image_tag "world", :class=> "logo-world" %>yagr</h3>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-9 col-sm-8 city-information">
            <h1 class="text-center"><%= @city.name %></h1>
            <div class="info-card hotels">
              <h2>Places to stay</h2>
              <div class="image-and-text">
              <%= cl_image_tag "voyagr/hotel.jpg", width: 350, height: 200, class: "gen-image" %>
              <div class="text-and-button">
                <p>Based on the answers you gave to our friendly little VoyagrBot, he suggests that you might like to rest your head in these beautiful places.</p>
              </div>
            </div>
            <div class="info-card food" >
              <h2>Food</h2>
              <div class="image-and-text">
              <%= cl_image_tag "voyagr/food.jpg", width: 350, height: 200, class: "gen-image" %>
              <div class="text-and-button">
                <p>Here's a list of places that VoyagrBot thinks you might enjoy eating. As a robot he knows a lot about food and drink.</p>
              </div>
            </div>

            <div class="info-card entertainment">
              <h2>Things to do</h2>
              <div class="image-and-text">
              <%= cl_image_tag "voyagr/entertainment.jpg", width: 350, height: 200, class: "gen-image" %>
              <div class="text-and-button">
                <p>VoyagrBot recommends these places for you to entertain yourself while exploring <%= @city.name %>. These are suggestions based on your answers.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-3 show-map">
            <div id="map" style="width: 300px; height: 665px;" data-markers="<%= @markers.to_json %>">
            <div id="map" data-markers="<%= @markers.to_json %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


