<div class="show-page">
  <div class="link-logo show-link-logo">
    <%= link_to root_path do %>
      <h3>v<%= image_tag "world", :class=> "logo-world" %>yagr</h3>
    <% end %>
  </div>
  <h1 class="text-center"><%= @city.name %></h1>

  <div class="row">
    <div class="col-xs-8">
      <div class="slideshow-container info-card entertainment text-center">
        <div class="mySlides">
          <img src="https://images.pexels.com/photos/53146/brandenburg-gate-potsdam-place-night-clouds-53146.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" style="width:100%">
        </div>

        <div class="mySlides">
          <img src="https://images.pexels.com/photos/109630/pexels-photo-109630.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="info-card sightseeing text-center">
        <div class="text-and-button">
        <%= cl_image_tag "voyagr/hotel.jpg", width: 450, height: 275, class: "gen-image" %>
        </div>
      </div>
    </div>
    <div class="col-xs-4 show-map">
      <div id="map" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
