<div class="show-page">

  <div class="banner-holder">
    <div class="show-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
    url('<%= cl_image_path @city.photo %>')";>
    <div class="link-logo show-link-logo">
      <%= link_to root_path do %>
        <h3>v<%= image_tag "world", :class=> "logo-world" %>yagr</h3>
      <% end %>
    </div>
      <h1 class="city-title text-center"><%= @city.name %></h1>
    </div>
  </div>

  <h2 class="text-center">Tempted? Here are some flight prices</h2>

  <div class="ticket-box">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="ticket-card">
          <div class="ticket-card-body">
            <div class="ticket-card-body-element">
              <div class="column-one">
               <p><%= @hash_out[:departure].first %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_out[:logo].first %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_out[:arrival].first %></p>
              </div>
            </div>
            <div class="ticket-card-body-element">
              <div class="column-one">
                <p><%= @hash_in[:departure].first %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_in[:logo].first %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_in[:arrival].first %></p>
              </div>
            </div>
          </div>
          <div class="ticket-card-price">
          <p>£<%= @price_one %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ticket-card">
          <div class="ticket-card-body">
            <div class="ticket-card-body-element">
              <div class="column-one">
               <p> <%= @hash_out[:departure].second %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_out[:logo].second %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_out[:arrival].second %></p>
              </div>
            </div>
            <div class="ticket-card-body-element">
              <div class="column-one">
                <p><%= @hash_in[:departure].second %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_in[:logo].second %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_in[:arrival].second %></p>
              </div>
            </div>
          </div>
          <div class="ticket-card-price">
          <p>£<%= @price_two %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ticket-card">
          <div class="ticket-card-body">
            <div class="ticket-card-body-element">
              <div class="column-one">
               <p><%= @hash_out[:departure].third %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_out[:logo].third %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_out[:arrival].third %></p>
              </div>
            </div>
            <div class="ticket-card-body-element">
              <div class="column-one">
                <p><%= @hash_in[:departure].third %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_in[:logo].third %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_in[:arrival].third %></p>
              </div>
            </div>
          </div>
          <div class="ticket-card-price">
          <p>£<%= @price_one %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ticket-card">
          <div class="ticket-card-body">
            <div class="ticket-card-body-element">
              <div class="column-one">
               <p><%= @hash_out[:departure].fourth %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_out[:logo].fourth %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_out[:arrival].fourth %></p>
              </div>
            </div>
            <div class="ticket-card-body-element">
              <div class="column-one">
                <p><%= @hash_in[:departure].fourth %></p>
              </div>
              <div class="column-two">
                <p><i class="fa fa-plane"></i></p>
                <!-- <p><img src="<%= @hash_in[:logo].fourth %>" alt="Logo" class="airline-logo"></p> -->
              </div>
              <div class="column-three">
              <p><%= @hash_in[:arrival].fourth %></p>
              </div>
            </div>
          </div>
          <div class="ticket-card-price">
          <p>£<%= @price_four %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center">Top sights of <%= @city.name %></h2>
  <div class="ttd-and-slideshow">
    <div class="info-card things-to-do">
      <div class="thing">
        <h2>Three word test </h2>
      </div>
      <div class="thing">
        <h2>Four word test title</h2>
      </div>
      <div class="thing">
        <h2>Five word long test title</h2>
      </div>
    </div>

    <div class="slideshow-container info-card">
      <div class="mySlides1">
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).first.photo}&key=AIzaSyC_Mm_Ib5PeEXcTDpUmRmSDeptbuaeOohw", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).second.photo}&key=AIzaSyC_Mm_Ib5PeEXcTDpUmRmSDeptbuaeOohw", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).third.photo}&key=AIzaSyC_Mm_Ib5PeEXcTDpUmRmSDeptbuaeOohw", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).fourth.photo}&key=AIzaSyC_Mm_Ib5PeEXcTDpUmRmSDeptbuaeOohw", class: "slideshow-images"%>
      </div>
       <div class="mySlides1">
        <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).fifth.photo}&key=AIzaSyC_Mm_Ib5PeEXcTDpUmRmSDeptbuaeOohw", class: "slideshow-images"%>
      </div>
      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 map-holder">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>


<script>
var slideIndex = [1,1];
var slideId = ["mySlides1", "mySlides2"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
</script>
