<div class="show-page">

  <div class="banner-holder">
    <div class="show-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
    url('<%= cl_image_path @city.photo %>')";>
    <div class="link-logo show-link-logo">
      <%= link_to root_path do %>
        <h5 id="logo-text">v<%= image_tag "world", :class=> "logo-world" %>yagr</h5>
      <% end %>
    </div>
      <h1 class="city-title text-center"><%= @city.name %></h1>
    </div>
  </div>

  <h2 id="top-sights" class="text-center">Top sights of <%= @city.name %></h2>
  <div class="ttd-and-slideshow">
    <div class="info-card things-to-do">
      <div class="thing">
        <h2 class="text-center">1. <%= @city.top_attractions_1 %></h2>
      </div>
      <div class="thing">
        <h2 class="text-center">2. <%= @city.top_attractions_2 %></h2>
      </div>
      <div class="thing">
        <h2 class="text-center">3. <%= @city.top_attractions_3 %></h2>
      </div>
    </div>

    <div class="slideshow-container info-card">
      <div class="mySlides1">
        <%#= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).first.photo}&key=AIzaSyAzm0FC5Po0aquCv4jtrAtGvu1UPljgDg8", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%#= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).second.photo}&key=AIzaSyAzm0FC5Po0aquCv4jtrAtGvu1UPljgDg8", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%#= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).third.photo}&key=AIzaSyAzm0FC5Po0aquCv4jtrAtGvu1UPljgDg8", class: "slideshow-images"%>
      </div>
      <div class="mySlides1">
        <%#= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).fourth.photo}&key=AIzaSyAzm0FC5Po0aquCv4jtrAtGvu1UPljgDg8", class: "slideshow-images"%>
      </div>
       <div class="mySlides1">
        <%#= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{CityPhoto.where(city_id: @city).fifth.photo}&key=AIzaSyAzm0FC5Po0aquCv4jtrAtGvu1UPljgDg8", class: "slideshow-images"%>
      </div>
      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>
  </div>
  <h2 class="text-center">Tempted? Here are some flight prices</h2>
  <div class="container">
    <% if @hash_in[:departure].length >= 4 && @hash_out[:departure].length >= 4 %>
      <div class="ticket-box">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="ticket-card text-center">
              <h3 id="weekend-title">This weekend</h3>
              <div class="ticket-card-body">
                <div class="ticket-card-body-element">
                  <div class="column-one">
                   <p id="monospace"><%= @hash_out[:departure].first %></p>
                   <p id="monospace"><%= Time.at(@hash_out[:dtime].first).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].first).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_out[:logo].first %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_out[:arrival].first %></p>
                    <p id="monospace"><%= Time.at(@hash_out[:atime].first).strftime('%H') %>:<%= Time.at(@hash_out[:atime].first).strftime('%M') %></p>
                  </div>
                </div>
                <div class="ticket-card-body-element">
                  <div class="column-one">
                    <p id="monospace"><%= @hash_in[:departure].first %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:dtime].first).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].first).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_in[:logo].first %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_in[:arrival].first %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:atime].first).strftime('%H') %>:<%= Time.at(@hash_out[:atime].first).strftime('%M') %></p>
                  </div>
                </div>
              </div>
              <div class="ticket-card-price">
                <p style="font-size: 24px", class="price <%= "cheapest" if @price_one == @cheapest_price %>" >£<%= @price_one %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="ticket-card text-center">
              <h3 id="weekend-title">Next weekend</h3>
              <div class="ticket-card-body">
                <div class="ticket-card-body-element">
                  <div class="column-one">
                   <p id="monospace"> <%= @hash_out[:departure].second %></p>
                   <p id="monospace"><%= Time.at(@hash_out[:dtime].second).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].second).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_out[:logo].second %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_out[:arrival].second %></p>
                    <p id="monospace"><%= Time.at(@hash_out[:atime].second).strftime('%H') %>:<%= Time.at(@hash_out[:atime].second).strftime('%M') %></p>
                  </div>
                </div>
                <div class="ticket-card-body-element">
                  <div class="column-one">
                    <p id="monospace"><%= @hash_in[:departure].second %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:dtime].second).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].second).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_in[:logo].second %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_in[:arrival].second %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:atime].second).strftime('%H') %>:<%= Time.at(@hash_out[:atime].second).strftime('%M') %></p>
                  </div>
                </div>
              </div>
              <div class="ticket-card-price">
                <p style="font-size: 24px", class="price <%= "cheapest" if @price_two == @cheapest_price %>" >£<%= @price_two %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="ticket-card text-center">
              <h3 id="weekend-title">A fortnight's time</h3>
              <div class="ticket-card-body">
                <div class="ticket-card-body-element">
                  <div class="column-one">
                   <p id="monospace"><%= @hash_out[:departure].third %></p>
                   <p id="monospace"><%= Time.at(@hash_out[:dtime].third).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].third).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_out[:logo].third %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_out[:arrival].third %></p>
                    <p id="monospace"><%= Time.at(@hash_out[:atime].third).strftime('%H') %>:<%= Time.at(@hash_out[:atime].third).strftime('%M') %></p>
                  </div>
                </div>
                <div class="ticket-card-body-element">
                  <div class="column-one">
                    <p id="monospace"><%= @hash_in[:departure].third %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:dtime].third).strftime('%H') %>:<%= Time.at(@hash_in[:dtime].third).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_in[:logo].third %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                  <p id="monospace"><%= @hash_in[:arrival].third %></p>
                  <p id="monospace"><%= Time.at(@hash_in[:atime].third).strftime('%H') %>:<%= Time.at(@hash_in[:atime].third).strftime('%M') %></p>
                  </div>
                </div>
              </div>
              <div class="ticket-card-price">
                <p style="font-size: 24px", class="price <%= "cheapest" if @price_three == @cheapest_price %>" >£<%= @price_three %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="ticket-card text-center">
              <h3 id="weekend-title">Three weekends</h3>
              <div class="ticket-card-body">
                <div class="ticket-card-body-element">
                  <div class="column-one">
                   <p id="monospace"><%= @hash_out[:departure].fourth %></p>
                   <p id="monospace"><%= Time.at(@hash_out[:dtime].fourth).strftime('%H') %>:<%= Time.at(@hash_out[:dtime].fourth).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_out[:logo].fourth %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_out[:arrival].fourth %></p>
                    <p id="monospace"><%= Time.at(@hash_out[:atime].fourth).strftime('%H') %>:<%= Time.at(@hash_out[:atime].fourth).strftime('%M') %></p>
                  </div>
                </div>
                <div class="ticket-card-body-element">
                  <div class="column-one">
                    <p id="monospace"><%= @hash_in[:departure].fourth %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:dtime].fourth).strftime('%H') %>:<%= Time.at(@hash_in[:dtime].fourth).strftime('%M') %></p>
                  </div>
                  <div class="column-two">
                    <p><i class="fa fa-plane"></i></p>
                    <p><img src="<%= @hash_in[:logo].fourth %>" alt="Logo" class="airline-logo"></p>
                  </div>
                  <div class="column-three">
                    <p id="monospace"><%= @hash_in[:arrival].fourth %></p>
                    <p id="monospace"><%= Time.at(@hash_in[:atime].fourth).strftime('%H') %>:<%= Time.at(@hash_in[:atime].fourth).strftime('%M') %></p>
                  </div>
                </div>
              </div>
              <div class="ticket-card-price">
                <p style="font-size: 24px", class="price <%= "cheapest" if @price_four == @cheapest_price %>" >£<%= @price_four %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
    <div class="text-center no-flights"><h2>Sorry we are unable to find flights for the next few weekends. We suggest booking further in advance for this one!</h2></div>
    <% end %>
  </div>


  <div class="map-holder">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>

<script>
var slideIndex = [1,1];
var slideId = ["mySlides1", "mySlides2"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}

document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'https://www.voyagr.co.uk/cities/#{@city.id}',
  }, function(response){});
}
</script>
